<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>ManagervCrontroller</servlet-name>
        <servlet-class>za.ac.tut.contorller.ManagervCrontroller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartDisplyController</servlet-name>
        <servlet-class>za.ac.tut.contorller.CartDisplyController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StartSessionController</servlet-name>
        <servlet-class>za.ac.tut.contorller.StartSessionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCartServlet</servlet-name>
        <servlet-class>za.ac.tut.contorller.UpdateCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDetailsController</servlet-name>
        <servlet-class>za.ac.tut.contorller.OrderDetailsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessOrderController</servlet-name>
        <servlet-class>za.ac.tut.contorller.ProcessOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EndSessionController</servlet-name>
        <servlet-class>za.ac.tut.contorller.EndSessionController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManagervCrontroller</servlet-name>
        <url-pattern>/ManagervCrontroller.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartDisplyController</servlet-name>
        <url-pattern>/CartDisplyController.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StartSessionController</servlet-name>
        <url-pattern>/StartSessionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCartServlet</servlet-name>
        <url-pattern>/UpdateCartServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderDetailsController</servlet-name>
        <url-pattern>/OrderDetailsController.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessOrderController</servlet-name>
        <url-pattern>/ProcessOrderController.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EndSessionController</servlet-name>
        <url-pattern>/EndSessionController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
